.container {
    margin-top: 4rem;
    background-color: var(--primary-light);
}

.part-equivalent-header {

    h1 {
        margin: 0;
        font-size: 1.5rem;
        color: var(--main-font-color);
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.part-badges {
    padding: var(--spacing-xs);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);

    .part-badge {
        background-color: var(--primary-contrast-color);
        padding: var(--spacing-xs) var(--spacing-sm);
        color: var(--main-font-color);
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            max-width: 64px;
            max-height: 20px;
            object-fit: contain;
        }
    }
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;

    align-items: stretch;

    gap: var(--spacing-lg);
    margin-top: var(--spacing-lg);

    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
        background-color: var(--primary-light);
        border: var(--border-thickness) solid var(--border-color);
        border-radius: var(--border-radius);
    }

    .card-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: var(--primary-contrast-color);
        border-radius: 8px 8px 0 0;

        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }

        ;
    }

    .card-body {
        padding: var(--spacing-lg);
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        h2 {
            margin: 0;
            font-size: 1.2rem;
            font-weight: 500;
            color: var(--main-font-color);
        }

        p {
            margin: 0;
            font-size: 1rem;
            color: var(--neutral-600);
        }

        .equivalent-brand-logo {
            width: 100%;
            max-width: 64px;
            max-height: 32px;
            object-fit: contain;
            margin-bottom: 1rem;
        }

        .part-purchase-container {
            margin-top: auto;
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xs);
            justify-content: flex-start;
            align-items: flex-start;
            max-width: 400px;

            hr {
                width: 100%;
                border: 1px solid var(--neutral-200);
            }

            .part-price-section {
                .part-price {
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }

            .part-quantity-purchase {
                display: flex;
                flex-direction: row;
                width: 100%;
                gap: var(--spacing-xs);
                align-items: center;
                justify-content: center;

                button {
                    height: 100%;
                    width: 100%;
                    margin: 0
                }
            }

            .part-quantity {
                display: flex;
            }

            .details-button {
                width: 100%;
                background-color: rgb(230, 230, 230);
                border: var(--border-thickness) solid var(--border-color);
                color: var(--secondary-color);
                transition: all 0.3s ease;

                &:hover {
                    background-color: var(--primary-contrast-color);
                    border-color: var(--secondary-color);
                }

                .p-button-label {
                    font-weight: 400 !important;


                }
            }
        }

        .availability-dot {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin-right: 8px;
        }

        .dot-available {
            background-color: var(--success-color);
        }

        .dot-unavailable {
            background-color: var(--error-color);
        }

        .availability-text {
            font-weight: 600;
        }
    }
}

:host ::ng-deep .p-inputnumber-input {
    width: 48px !important;
    text-align: center;
    max-width: 100px;
}

:host ::ng-deep .p-inputnumber-button-up,
:host ::ng-deep .p-inputnumber-button-down {
    border-color: var(--neutral-300);
    background-color: transparent;
    color: var(--main-font-color)
}