<header class="header">
  <div class="container">
    <div class="header-content">
      <div class="logo-nav-links">
        <div class="logo" [routerLink]="isLoggedIn ? '/search' : '/login'">
          <img src="assets/img/logo-t.png" alt="">
        </div>
        <ul class="nav-links">
          <li class="nav-link" [routerLink]="isLoggedIn ? '/private/documents' : '/login'">
            <a>Mes documents</a>
          </li>
        </ul>
      </div>

      <div class="user-actions">
        <div class="user-container">
          <i class="pi pi-user"></i>
          <div class="user">
            <span>Nom d'utilisateur</span>
            <span class="logout"> Déconnexion </span>
          </div>
        </div>

        <div class="cart-container" (click)="goToCart()">
          <i class="pi pi-shopping-cart">
            <span class="p-badge p-badge-danger cart-count" *ngIf="cartItemCount > 0">
              {{ cartItemCount }}
            </span>
          </i>
          <div class="cart">
            <span>Mon panier</span>
            
            <span class="totalPrice">{{ formatPrice(cartTotal) }} </span>
          </div>
        </div>
      </div>



      <div class="search-bar-container">

        <div class="button history-button">
          <i class="pi pi-history"></i>
        </div>

        <div class="outer-search-container">
          <div class="search-container">
            <input type="text" [(ngModel)]="searchTerm" placeholder="Entrer la référence ou la piéce" 
              (keyup.enter)="search()"/>
          </div>
        </div>

        <div class="button search-button" (click)="search()">
          <i class="pi pi-search"></i>
        </div>

      </div>
    </div>
  </div>
</header>