<p-card styleClass="part-card" [style]="{'height': '100%'}">
  <ng-template pTemplate="header">
    <div
      class="part-image"
      [style.background-image]="'url(' + part.imageUrl + ')'"
      (click)="viewDetails.emit(part)"
    >
      <div class="part-badges">
        <p-tag *ngIf="part.replaces.length > 0" severity="info" value="Replacement Part"></p-tag>
        <p-tag
          *ngIf="part.stock <= 10 && part.stock > 0"
          severity="warning"
          value="Low Stock"
        ></p-tag>
        <p-tag *ngIf="part.stock === 0" severity="danger" value="Out of Stock"></p-tag>
      </div>
    </div>
  </ng-template>

  <div class="part-content">
    <div class="part-header" (click)="viewDetails.emit(part)">
      <h3 class="part-name">{{ part.name }}</h3>
      <span class="part-number">{{ part.partNumber }}</span>
    </div>

    <div class="part-compatibility">
      <span class="compatibility-item" *ngFor="let model of displayedModels; let i = last">
        {{ model.brand }} {{ model.model }} ({{ model.yearFrom }}-{{ model.yearTo }})
        <span *ngIf="!i">, </span>
      </span>
      <span
        *ngIf="part.compatibleModels.length > 2"
        class="more-models"
        pTooltip="View all compatible models"
        (click)="viewDetails.emit(part)"
      >
        +{{ part.compatibleModels.length - 2 }} more
      </span>
    </div>

    <div class="part-details">
      <!-- <div class="provider-info">
        <span class="provider-name">{{ part.provider.name }}</span>
        <p-rating
          [ngModel]="part.provider.rating"
          [readonly]="true"
          [cancel]="false"
          [stars]="5"
        ></p-rating>
        <span class="delivery-time">{{ part.provider.deliveryTime }}</span>
      </div> -->

      <div class="part-price-stock">
        <span class="price">${{ part.price.toFixed(2) }}</span>
        <span
          class="stock"
          [ngClass]="{'in-stock': part.stock > 10, 'low-stock': part.stock <= 10 && part.stock > 0, 'out-of-stock': part.stock === 0}"
        >
          {{ getStockLabel() }}
        </span>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="part-actions">
      <button
        pButton
        type="button"
        label="Details"
        icon="pi pi-info-circle"
        class="p-button-outlined p-button-secondary"
        (click)="viewDetails.emit(part)"
      ></button>
      <button
        pButton
        type="button"
        label="Add to Cart"
        icon="pi pi-shopping-cart"
        [disabled]="part.stock === 0"
        class="p-button-primary"
        (click)="addToCart.emit(part)"
        pRipple
      ></button>
    </div>
  </ng-template>
</p-card>
