<p-card styleClass="part-card"
  [style]="{'height': '100%',   'background': part.stock === 0 ?'rgba(185, 185, 185, 0.15)':''}">
  <!-- <ng-template pTemplate="header"> </ng-template> -->

  <div class="part-content">
    <div class="flex justify-content-between flex-wrap grid">
      <div class="pr-3 col-7">
        <div class="flex w-full">
          <div class="part-image" style="width: 150px" [style.background-image]="'url(' + part.imageUrl + ')'">
            <div class="part-badges">
              <!-- <p-tag
                *ngIf="part.replaces.length > 0"
                severity="info"
                value="Replacement Part"
              ></p-tag> -->
              <p-tag *ngIf=" part.stock > 0" severity="success" value="En stock"></p-tag>
              <p-tag *ngIf="part.stock <= 10 && part.stock > 0" severity="warning" value="Low Stock"></p-tag>
              <p-tag *ngIf="part.stock === 0" severity="danger" value="Out of Stock"></p-tag>
            </div>
          </div>
          <div class="px-3" style="flex-grow: 1">
            <div class="part-header">
              <h3 class="part-name">{{ part.name }}</h3>
              <span class="part-number"> Réf : {{ part.partNumber }}</span><br />
              <span class="part-number">
                Fournisseur : <img [src]="part.provider.image" style="height: 30px" alt="" /></span>
              <br />
              <span class="part-number"> Autre infos : : {{ part.partNumber }}</span>
            </div>

            <div class="part-compatibility">
              <span class="compatibility-item" *ngFor="let model of displayedModels; let i = last">
                {{ model.brand }} {{ model.model }} ({{ model.yearFrom }}-{{ model.yearTo }})
                <span *ngIf="!i">, </span>
              </span>
              <span *ngIf="part.compatibleModels.length > 2" class="more-models" pTooltip="View all compatible models"
                (click)="viewDetails.emit(part)">
                +{{ part.compatibleModels.length - 2 }} more
              </span>
            </div>
          </div>
        </div>
        <p-divider></p-divider>
        <div class="">
          <h3 class="pb-3 m-0">Informations</h3>

          <p-tabView styleClass="part-tabs">
            <p-tabPanel header="Réferences origine">
              <div class="description-content" style="max-height: 180px; overflow: auto">
                <div class="p-2" style="border-bottom: 1px solid #cbcbcb" *ngFor="let item of oemList">
                  <h3 class="m-0" (click)="item.display = !item.display">
                    <i class="pi mx-2" [class]="item.display?'pi-minus':'pi-plus'"
                      style="color: var(--secondary-color)"></i>
                    {{item.make}}
                  </h3>
                  <div class="px-3 py-1" *ngIf="item.display">
                    <p class="m-0" *ngFor="let el of item.oems">{{el.oem}}</p>
                  </div>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="véhicules compatibles">
              <div class="description-content">
                <p>{{ part.description }}</p>
                <h3>Compatibility</h3>
              </div>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
      <div class="col-5">
        <div class="flex h-full">
          <div class="flex flex-column w-full">
            <!-- <div class="py-5">
              <div class="part-purchase-container mb-3">
                <div class="part-availibility-section">
                  <span class="availability-dot" [ngClass]="getStockStatusClass()"></span>
                  <span class="availability-text">{{ getStockStatusText() }}</span>
                </div>
                <hr />
                <div class="part-price-section">
                  <span class="part-price">{{ formatPrice(part.price) }}</span>
                </div>
              </div>
              <div class="part-quantity-purchase">
                <div class="part-quantity grid gap-1">
                  <p-inputNumber
                    [(ngModel)]="part.quantityDemanded"
                    [min]="0"
                    [max]="part.stock"
                    [showButtons]="true"
                    inputId="stacked"
                    mode="decimal"
                    currency="USD"
                  />
                  <button
                    pButton
                    label="Commander"
                    icon="pi pi-shopping-cart"
                    class="p-button-primary cart-button"
                    [disabled]="part.stock === 0"
                    (click)="addToCart.emit(part)"
                  ></button>
                </div>
              </div>
            </div> -->

            <!-- <button
              pButton
              type="button"
              label="Ajouter au panier"
              icon="pi pi-shopping-cart"
              [disabled]="part.stock === 0"
              class="p-button-primary"
              (click)="addToCart.emit(part)"
              pRipple
            ></button> -->
            <app-add-to-cart [part]="part" [stock]="part.stock" [price]="part.price" (getQuantity)="getQuantity($event)"
              [isAvailable]="part.stock > 0"></app-add-to-cart>
            <div class="flex gap-2 align-items-center" style="flex-grow: 1">
              <div class="w-full">
                <div class="py-2">
                  <button pButton type="button" label="Voir equivalence de la piéce" class="p-button-primary w-full"
                    (click)="showEquivalents()" pRipple></button>
                </div>
                <div>
                  <button pButton type="button" label="Voir plus details sur le produit"
                    class="p-button-outlined p-button-secondary w-full" (click)="showDetails()"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer"> </ng-template>
</p-card>