<p-card styleClass="part-card" [style]="{'height': '100%'}">
  <!-- <ng-template pTemplate="header"> </ng-template> -->

  <div class="part-content">
    <div class="flex justify-content-between">
      <div class="">
        <div class="flex w-full">
          <div
            class="part-image"
            style="width: 200px"
            [style.background-image]="'url(' + part.imageUrl + ')'"
          >
            <!-- <div class="part-badges">
          <p-tag *ngIf="part.replaces.length > 0" severity="info" value="Replacement Part"></p-tag>
          <p-tag
            *ngIf="part.stock <= 10 && part.stock > 0"
            severity="warning"
            value="Low Stock"
          ></p-tag>
          <p-tag *ngIf="part.stock === 0" severity="danger" value="Out of Stock"></p-tag>
        </div> -->
          </div>
          <div class="p-3" style="flex-grow: 1">
            <div class="part-header">
              <h3 class="part-name">{{ part.name }}</h3>
              <span class="part-number"> Réf : {{ part.partNumber }}</span><br />
              <span class="part-number">
                Fournisseur : <img src="assets/img/ticket.png" style="height: 20px" alt=""
              /></span>
              <br />
              <span class="part-number"> Autre infos : : {{ part.partNumber }}</span>
            </div>

            <div class="part-compatibility">
              <span class="compatibility-item" *ngFor="let model of displayedModels; let i = last">
                {{ model.brand }} {{ model.model }} ({{ model.yearFrom }}-{{ model.yearTo }})
                <span *ngIf="!i">, </span>
              </span>
              <span
                *ngIf="part.compatibleModels.length > 2"
                class="more-models"
                pTooltip="View all compatible models"
                (click)="viewDetails.emit(part)"
              >
                +{{ part.compatibleModels.length - 2 }} more
              </span>
            </div>
          </div>
        </div>
        <p-divider></p-divider>
        <div class="part-details">
          <h3>Informations</h3>

          <div class="grid">
            <div class="col-6 grid p-3">
              <div class="col-6 p-0">
                <div class="th">Références d'origine</div>
                <div class="td">1.6 102ch04-2015</div>
                <div class="td">1.6 102ch04-2015</div>
                <div class="td">1.6 102ch04-2015</div>
                <div class="td">1.6 102ch04-2015</div>
              </div>
              <div class="col-6 p-0">
                <div class="th">Véhicules compatibles</div>
                <div class="td">1.6 102ch04-2015</div>
                <div class="td">1.6 102ch04-2015</div>
                <div class="td">1.6 102ch04-2015</div>
                <div class="td">1.6 102ch04-2015</div>
              </div>
            </div>

            <div class="col-6 grid p-3">
              <div class="col-6 p-0">
                <div class="th">Références d'origine</div>
                <div class="td">1.6 102ch04-2015</div>
                <div class="td">1.6 102ch04-2015</div>
                <div class="td">1.6 102ch04-2015</div>
                <div class="td">1.6 102ch04-2015</div>
              </div>
              <div class="col-6 p-0">
                <div class="th">Véhicules compatibles</div>
                <div class="td">1.6 102ch04-2015</div>
                <div class="td">1.6 102ch04-2015</div>
                <div class="td">1.6 102ch04-2015</div>
                <div class="td">1.6 102ch04-2015</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="flex align-items-end h-full">
          <div>
            <!-- <div class="py-5">
              <div class="part-purchase-container mb-3">
                <div class="part-availibility-section">
                  <span class="availability-dot" [ngClass]="getStockStatusClass()"></span>
                  <span class="availability-text">{{ getStockStatusText() }}</span>
                </div>
                <hr />
                <div class="part-price-section">
                  <span class="part-price">{{ formatPrice(part.price) }}</span>
                </div>
              </div>
              <div class="part-quantity-purchase">
                <div class="part-quantity grid gap-1">
                  <p-inputNumber
                    [(ngModel)]="part.quantityDemanded"
                    [min]="0"
                    [max]="part.stock"
                    [showButtons]="true"
                    inputId="stacked"
                    mode="decimal"
                    currency="USD"
                  />
                  <button
                    pButton
                    label="Commander"
                    icon="pi pi-shopping-cart"
                    class="p-button-primary cart-button"
                    [disabled]="part.stock === 0"
                    (click)="addToCart.emit(part)"
                  ></button>
                </div>
              </div>
            </div> -->

            <!-- <button
              pButton
              type="button"
              label="Ajouter au panier"
              icon="pi pi-shopping-cart"
              [disabled]="part.stock === 0"
              class="p-button-primary"
              (click)="addToCart.emit(part)"
              pRipple
            ></button> -->
            <app-add-to-cart
              [part]="part"
              [stock]="part.stock"
              [price]="part.price"
              (getQuantity)="getQuantity($event)"
              [isAvailable]="part.stock > 0"
            ></app-add-to-cart>
            <div class="py-2">
              <button
                pButton
                type="button"
                label="Voir equivalence de la piéce"
                [disabled]="part.stock === 0"
                class="p-button-primary w-full"
                (click)="addToCart.emit(part)"
                pRipple
              ></button>
            </div>
            <button
              pButton
              type="button"
              label="Details"
              icon="pi pi-info-circle"
              class="p-button-outlined p-button-secondary w-full"
              (click)="viewDetails.emit(part)"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer"> </ng-template>
</p-card>
