<div class="part-purchase-container">
  <ng-container *ngIf="showAvailibility">
    <div class="part-availibility-section" [ngClass]="'availability-' + availabilitySize">
      <ng-container *ngIf="availabilityMode === 'text'">
        <span class="availability-dot" [ngClass]="getStockStatusClass()"></span>
        <span class="availability-text">{{ getStockStatusText() }}</span>
      </ng-container>
      <ng-container *ngIf="availabilityMode === 'badge'">
        <p-tag *ngIf="stock > 0" severity="success" value="En stock"></p-tag>
        <p-tag *ngIf="stock <= 10 && stock > 0" severity="warning" value="Low Stock"></p-tag>
        <p-tag *ngIf="stock === 0" severity="danger" value="Out of Stock"></p-tag>
      </ng-container>
    </div>
    <hr />
  </ng-container>
  <div class="part-price-section">
    <span
      class="part-price"
      [ngClass]="'price-' + priceSize"
      [style]="{
        color: stock === 0 ? '#35343D28' : ''
      }"
      >{{ formatPrice(price) }}</span
    >
  </div>
  <div class="part-quantity-purchase">    <div class="part-quantity">
      <!-- Previously used PrimeNG input component
      <p-inputNumber
        [(ngModel)]="quantity"
        [showButtons]="true"
        buttonLayout="horizontal"
        [min]="1"
        [max]="stock"
        [disabled]="stock === 0"
        styleClass="p-inputnumber-sm"
      >
        <ng-template pTemplate="decrementbuttonicon">
          <i class="pi pi-minus" style="color: black"></i>
        </ng-template>
        <ng-template pTemplate="incrementbuttonicon">
          <i class="pi pi-plus" style="color: black"></i>
        </ng-template>
      </p-inputNumber>
      -->
      
      <!-- Custom number input -->
      <div class="number-input">
        <button type="button" (click)="decrementQuantity()" [disabled]="quantity <= 1 || stock === 0">−</button>
        <input 
          type="number" 
          [(ngModel)]="quantity" 
          [min]="1" 
          [max]="stock" 
          [disabled]="stock === 0"
          (change)="validateQuantity()"
        />
        <button type="button" (click)="incrementQuantity()" [disabled]="quantity >= stock || stock === 0">+</button>
      </div>
    </div>
    <button
      pButton
      [label]="showLabel ? 'Commander' : ''"
      [icon]="showIcon ? 'pi pi-shopping-cart' : ''"
      class="p-button-primary cart-button"
      appButtonResize
      [disabled]="!isAvailable || stock === 0"
      (click)="onAddQuantity()"
    ></button>
  </div>
</div>
