.part-purchase-container {
    background-color: transparent;
    border-radius: 8px;
    width: 100%;
}

.part-availibility-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.availability-dot {
    border-radius: 50%;
    margin-right: 8px;
}

.dot-available {
    background-color: var(--success-color);
    & + .availability-text {
        color: var(--success-color);
        font-weight: 500;
    }
}

.dot-unavailable {
    background-color: var(--error-color);
    & + .availability-text {
        color: var(--error-color);
        font-weight: 500;
    }
}

// Availability sizes
.availability-small {
    .availability-dot {
        width: 8px;
        height: 8px;
    }
    .availability-text {
        font-size: 1rem;
    }
}

.availability-medium {
    .availability-dot {
        width: 12px;
        height: 12px;
    }
    .availability-text {
        font-size: 1.4rem;
    }
}

.availability-large {
    .availability-dot {
        width: 16px;
        height: 16px;
    }
    .availability-text {
        font-size: 1.8rem;
    }
}

.availability-text {
    font-weight: 500;
}

hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 10px 0;
}

.part-price-section {
    margin-bottom: 15px;
}

.part-price {
    font-weight: 700;
    color: var(--main-font-color);
}

.price-small {
    font-size: 1.2rem;
}

.price-medium {
    font-size: 1.5rem;
}

.price-large {
    font-size: 2rem;
}

.part-quantity-purchase {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-xs);
}

.part-quantity {
    flex: 1;
}

.cart-button {
    min-width: 120px;
    width: 100%;
    flex-grow: 1;
    border-radius: var(--border-radius) !important;
}

// :host ::ng-deep .p-inputnumber-input {
//   width: 64px !important;
//   text-align: center;
//   max-width: 100px;
// }

// :host ::ng-deep .p-inputnumber-button-up,
// :host ::ng-deep .p-inputnumber-button-down {
//   border-color: var(--neutral-300);
//   background-color: transparent;
//   color: var(--main-font-color)
// }

:host ::ng-deep .p-inputnumber-buttons-horizontal .p-button {
  background: white;
  border: 1px solid var(--neutral-300);
}
:host ::ng-deep .p-inputnumber-buttons-horizontal .p-button.p-inputnumber-button-up {
  border-left: 1px solid transparent;
  width: 30px;
}
:host ::ng-deep .p-inputnumber-buttons-horizontal .p-button.p-inputnumber-button-down {
  width: 30px;
  border-right: 1px solid transparent;
}
 
:host ::ng-deep .p-inputnumber-buttons-horizontal .p-inputnumber-input {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  text-align: center;
}

:host ::ng-deep .p-inputnumber:hover > * {
    border: 1px solid var(--secondary-color);
}

:host ::ng-deep .p-inputnumber:hover > *:nth-child(1){
    border-left: 1px solid transparent;
    border-right:  1px solid transparent;
}