<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <div class="flex justify-content-center w-100 mb-3">
          <img src="/assets/img/logo-t.png" alt="" />
        </div>
        <p class="tagline">
          SOGEPAM est une entreprise spécialisée dans la distribution de pièces automobiles de
          qualité pour une gamme variée de véhicules.
        </p>
      </div>

      <div class="footer-links">
        <div class="footer-section">
          <h4>Informations générales</h4>
          <ul>
            <li>
              <a>
                <i class="pi pi-map-marker mx-2"></i>Route de tunis Gp1 134km , Akouda, Tunisia</a
              >
            </li>
            <li>
              <a> <i class="pi pi-envelope mx-2"></i>{{ "sogepam@topnet.com" }}</a>
            </li>
            <li>
              <a> <i class="pi pi-phone mx-2"></i>(+216) 73 308 522</a>
            </li>
          </ul>
        </div>

        <div class="footer-section">
          <h4>Horaires de travail</h4>
          <ul>
            <li><a>Lundi - Vendredi : 8:00 am - 17:00 pm </a></li>
            <li><a>Samedi : 8.00 am - 15.00 pm </a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} TEAMDEV. All rights reserved.</p>
    </div>
  </div>
</footer>
