.main-documents-management-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--spacing-xxl);
}

p {
    margin: 0;
    padding: 0;
}

h2 {
    color: var(--main-font-color);
    font-weight: 600;
    margin: 0;
    padding: 0;
}

/* Table styles */
p-table {
    width: 100%;
    margin-bottom: var(--spacing-xl);
}

.table-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-xs);
    padding: var(--spacing-20) 0;
    flex-wrap: wrap;

    &>div {
        height: 40px;
    }
}

.date-select {
    padding: 0;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-sm);
    color: var(--main-font-color);
    font-weight: 400;
}

.date-select p,
.status-filter p {
    font-weight: 400;
    white-space: nowrap;
    color: var(--main-font-color);
    margin: 0;
}

.status-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-sm);
}

.search {
    margin-left: auto;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
    position: relative;
}

.search input {
    max-width: 250px;
    height: 100%;
    border-radius: var(--border-radius);
    border: var(--border-thickness) solid var(--border-color);
    background-color: var(--primary-light);
    color: var(--main-font-color);
    transition: all 0.2s ease-in-out;

    &::placeholder {
        font-size: var(--font-size-sm);
        font-weight: 400;
    }
}

.search input:hover {
    border: var(--border-thickness) solid var(--secondary-color);
}

.search button {
    width: 130px;
    height: 100%;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: var(--primary-light);
    transition: all 0.2s ease-in-out;
    font-size: var(--font-size-sm);
}

.search button:hover {
    background-color: var(--secondary-dark);
    color: var(--primary-light);
}

/* Button styling */
:host ::ng-deep .p-button {
    padding: var(--spacing-sm);
    transition: all 0.2s ease-in-out;
}

/* Dropdown styling */
:host ::ng-deep .p-dropdown {
    border-radius: var(--border-radius);
    border: var(--border-thickness) solid var(--primary-contrast-color);
    background-color: var(--primary-light);
    color: var(--main-font-color);
}

:host ::ng-deep .p-dropdown:hover {
    border: var(--border-thickness) solid var(--secondary-color);
}

:host ::ng-deep p-calendar {
    height: 100%;

    .p-calendar {
        height: 100%;
    }
}

:host ::ng-deep p-multiselect {
    height: 100%;

    .p-multiselect {
        height: 100%;

        .p-multiselect-label-container {

            height: 100%;

            .p-multiselect-label.p-placeholder {
                padding: 0 var(--spacing-xs);
                display: flex;
                align-items: center;
                height: 100%;
            }
        }
    }
}

:host ::ng-deep .p-inputwrapper-filled .p-multiselect.p-multiselect-chip .p-multiselect-label {
    padding: 0 var(--spacing-xs);
    display: flex;
    align-items: center;
    height: 100%;
}

:host ::ng-deep .p-multiselect .p-multiselect-label{ 
    padding: 0 var(--spacing-xs);
    display: flex;
    align-items: center;
    height: 100%;
}


/* PrimeNG Calendar styling */
:host ::ng-deep .p-calendar-w-btn input {
    height: 100%;
    background-color: var(--primary-light);
    border: var(--border-thickness) solid var(--primary-contrast-color);
    color: var(--main-font-color);
    border-right: var(--border-thickness) solid var(--primary-light);
}

:host ::ng-deep .p-calendar-w-btn input:hover {
    border: var(--border-thickness) solid var(--secondary-color);
}

:host ::ng-deep .p-calendar-w-btn button {
    background-color: var(--primary-light);
    height: 100%;
    padding: 0;
    border: var(--border-thickness) solid var(--primary-contrast-color);
    color: #000;
    border-left: none;
}

/* Table styling */
:host ::ng-deep .p-datatable-header {
    border: none;
    background-color: transparent;
    padding: 0;
}

:host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
    background-color: var(--secondary-color);
    font-size: var(--font-size-sm);
    color: var(--primary-light);
    font-weight: 400;
}

:host ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    
    font-size: var(--font-size-sm);
    color: var(--main-font-color);
    font-weight: 400;
    text-align: center;
}

:host ::ng-deep .p-badge {
    border-radius: 0 !important;
}

:host ::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(odd) {
    background-color: var(--primary-contrast-color);
}

:host ::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(even) {
    background-color: var(--primary-light);
}

:host ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    padding: 0 1rem;
}

//pagination

:host ::ng-deep .p-paginator {
    gap: var(--spacing-sm);
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
    border-radius: var(--border-radius);
    border: var(--border-thickness) solid var(--border-color);
    color: var(--main-font-color);
    font-weight: 700;
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    background-color: transparent;
}

:host ::ng-deep .p-paginator .p-paginator-prev,
:host ::ng-deep .p-paginator .p-paginator-next {
    border-radius: var(--border-radius);
    border: var(--border-thickness) solid var(--border-color);
    color: var(--main-font-color);
    font-weight: 700;
}

:host ::ng-deep .p-multiselect:not(.p-disabled):hover {
    border: var(--border-thickness) solid var(--secondary-color);
}

.error-text {
    color: var(--error-color);
}

@media screen and (max-width: 992px) {
    .main-documents-management-container {
        padding: 0 var(--spacing-md);
    }
}

@media screen and (max-width: 768px) {
    .main-documents-management-container {
        padding: 0 0;
    }

}