app-header {
  z-index: 1;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;

  flex-grow: 1;
}

@media screen and (max-width: 992px) {
  .main-content {
    padding-top: 2rem;
  }
}
